.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--duration-animation) var(--timing-function);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--duration-animation) var(--timing-function);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-bcg-color);
}
